.body-background-fixed {
    background-image: url('../images/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.btn-order-now {
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}
.btn-success-parent {
    width: auto;
    float: right;
}
.main-banner {
    background-color: rgba(32,112,32,0.60);
    border-radius: 32px;
    background-repeat: no-repeat;
    color: rgba(215,215,215,1.00);
}
.container-background-fixed {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(194,194,194,1.00);
    background-color: rgba(32,112,32,0.60);
}
.main-link {
    color: rgba(92,184,92,1.00);
}
.main-link:hover {
    color: rgba(92,184,92,1.00);
}
.inside-table {
    color: rgba(0,0,0,1.00);
}
.thumb-green {
    background-color: rgba(90,208,90,1.00);
}